html {
    scroll-behavior: smooth;
  }

#logo img { 
    height:auto;
    width:auto;
     }



     /* css for offer section */
     .offer-section{
         z-index: 99;
     }

/* css for footer section÷ */

.footer-top{

}

.footer-bottom{
background:#6DB6E5;
padding:20px 0 10px 0;
color:#fff;
}

.footer-bottom a{
color:#eee;
}

.footer-bottom .pb{
float:right;
}


